{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Products</h2>
    <a href="{% url 'products:create' %}" class="btn btn-primary btn-custom"><i class="fa fa-plus"></i> Add Product</a>
</div>

<div class="card p-3">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <a href="{% url 'products:product_update' product.id %}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                    <a href="{% url 'products:product_delete' product.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No products found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
