{% extends "base.html" %}
{% block content %}
<h2>{{ action }} foydalanuvchi</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Username:</label>
        <input type="text" name="username" class="form-control" value="{{ user.username|default:'' }}" required>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" value="{{ user.email|default:'' }}">
    </div>
    <div class="mb-3">
        <label>Password:</label>
        <input type="password" name="password" class="form-control">
        {% if action == 'Yangilash' %}<small>Agar o‘zgarmasa qoldiring</small>{% endif %}
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="is_staff" id="is_staff" {% if user.is_staff %}checked{% endif %}>
        <label class="form-check-label" for="is_staff">Staff</label>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="is_superuser" id="is_superuser" {% if user.is_superuser %}checked{% endif %}>
        <label class="form-check-label" for="is_superuser">Admin</label>
    </div>
    <button type="submit" class="btn btn-success">{{ action }}</button>
</form>
{% endblock %}
